.wp-entry-index-actions {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wp-entry-index-search form {
    display: flex;
    align-items: center;
    padding:20px 0;
}

.wp-entry-index-search input[type="search"] {
    margin-right: 5px;
    min-width: 300px;
}

.wp-entry-index-buttons {
    display: flex;
    gap: 10px;
}

.wp-entry-index-table {
    margin-top: 20px;
}

/* Estilos para la paginación */
.tablenav-pages {
    margin: 15px 0;
}

.tablenav-pages .pagination-links {
    display: inline-flex;
    align-items: center;
}

.tablenav-pages .pagination-links .button {
    margin: 0 2px;
}

.tablenav-pages .paging-input {
    margin: 0 5px;
}

/* Estilos para el modal */
.wp-entry-index-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.wp-entry-index-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ddd;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
}

.wp-entry-index-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.wp-entry-index-modal-close:hover,
.wp-entry-index-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.wp-entry-index-form-group {
    margin-bottom: 15px;
}

.wp-entry-index-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.wp-entry-index-form-group input {
    
    padding: 8px;
    box-sizing: border-box;
}

.wp-entry-index-form-actions {
    margin-top: 20px;
    text-align: right;
}

.wp-entry-index-form-actions button {
    margin-left: 10px;
}